@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Regular.otf);
}
.container {
    background: url(../img/Vector\ Smart\ Object.png) content-box   repeat   ;
    width: 400px;
    height: 497px;
    background-color: #4D33B7;
    margin: 0 auto;
    padding-top: 50px;
}
.block-1 {
    width: 80%;
    /* border: 2px solid white; */
    margin: 50px auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign-in {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    /* display: none;  */
    }
    #sign{
        display: none;  
    }
    #sign:target {
        display: block; 
    }

#join {
    border: 2px solid red;
    margin:0 auto ;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    display: none; 
    /* opacity: 0; */
    /* visibility: hidden; */
}

#join:target {
    display: block; 
}




.nav {
    top: 20px;
    /* border: 2px solid red;   */
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.a {
    /* border: 2px solid green; */
    font-size: 18px;
    color: #fbf6e4;
    font-weight: 700;
    font-family: "Quicksand";
    padding-right: 30px;
    text-decoration: none;
}
a:hover {
text-decoration: underline;
}
.form-error {
    color: red;
    font-size: 12px;
    visibility: hidden;
}



label {
    font-size: 16px;
color: #fbf6e4;
font-weight: 700;
font-family: "Quicksand";
margin-bottom: 20px;
}
input {
    width: 260px;
    height: 42px;
    background: rgba(255, 255, 255,0);
   /* outline: none; */
   /* border: none; */
   color: white;
   border-color: white;
}
.chek-label {
    /* border: 2px solid red; */
    margin-bottom: 20px;
}
input:hover, :focus {
    outline: 0;
    outline-offset: 0; 
    border-color:#23AE92;
    
}

.check-label {
    /* border: 2px solid blue; */
    position: relative;
}

.checkbox {
    width: 20px;
    height: 20px;
    background:#23AE92;
   
}
#check-1 {
    margin-bottom: 20px;
    background:#23AE92;
}

.LaB {
    font-size: 13px;
color: #fbf6e4;
font-weight: 700;
font-family: "Quicksand";
/* border: 2px solid green; */
width: 120px;
white-space: pre;
position: absolute;
left: 35px;
text-align: center;
padding-top: 5px;
}
button {
    width: 260px;
    height: 42px;
    background:#23AE92;
  margin-bottom: 10px;
    color: white;
}
.text-1,.text-2 {
    font-size: 13px;
color: #b9b9cc;
font-weight: 400;
font-family: "Quicksand";
/* border: 2px solid red; */
margin-top: 0;
border-bottom: 2px solid gray;
}
.text-1 {
    padding-left: 0;
    margin-right:20px;

}
.footer {
    display: flex;
    justify-content:flex-start;
    /* border: 2px solid blueviolet; */
}




.join-button {
    width: 260px;
    height: 40px;
    background:#23AE92;
  margin-top: 20px;
    color: white;
}
.input-join {
    width: 260px;
    height: 42px;
    box-sizing: border-box;
}