@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Regular.otf);
}
.container {
    background: url(../img/Vector\ Smart\ Object.png) content-box   repeat   ;
    width: 400px;
    height: 497px;
    background-color: #4D33B7;
    margin: 0 auto;
    padding-top: 50px;
}
.block-1 {
    width: 80%;
    /* border: 2px solid white; */
    margin: 50px auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav {
    top: 20px;
    /* border: 2px solid red;   */
}
.a {
    /* border: 2px solid green; */
    font-size: 18px;
    color: #fbf6e4;
    font-weight: 700;
    font-family: "Quicksand";
    padding-right: 30px;
    text-decoration: none;
}
a:hover {
text-decoration: underline;
}
.form-error {
    color: red;
    font-size: 12px;
    visibility: hidden;
}

.sign-in {
/* border: 2px solid blue; */
display: flex;
flex-direction: column;
}

label {
    font-size: 16px;
color: #fbf6e4;
font-weight: 700;
font-family: "Quicksand";
margin-bottom: 20px;
}
input {
    width: 260px;
    height: 42px;
    background: rgba(255, 255, 255,0);
   /* outline: none; */
   /* border: none; */
   color: white;
}
.chek-label {
    /* border: 2px solid red; */
    margin-top: 20px;
}
input:hover, :focus {
    outline: 0;
    outline-offset: 0;
    
}
.checkbox {
    width: 20px;
    height: 20px;
    background:#23AE92;
   
}
.check-1 {
    padding-bottom: 0;
    background:#23AE92;
}

.LaB {
    font-size: 13px;
color: #fbf6e4;
font-weight: 700;
font-family: "Quicksand";
/* border: 2px solid green; */
width: 120px;
white-space: pre;
margin: 0 auto;
text-align: center;
margin-top: 10px;
}
button {
    width: 260px;
    height: 42px;
    background:#23AE92;
    /* margin: 0 auto; */
    color: white;
}
.text-1,.text-2 {
    font-size: 13px;
color: #b9b9cc;
font-weight: 400;
font-family: "Quicksand";
/* border: 2px solid red; */
margin-top: 0;
border-bottom: 2px solid gray;
}
.text-1 {
    padding-left: 0;
    margin-right:20px;

}
.footer {
    display: flex;
    justify-content:flex-start;
    /* border: 2px solid blueviolet; */
}